@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*STYLE RESET START*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font:  12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
/*STYLE RESET END*/
/*Default classes start*/
.flex-container{
    display: flex;
}
.justify-sb{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.white-bg{
    background-color: #fff;
}
.icon{
    display: inline-block;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.dark-blue-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.orange-bg{
    background-color: #ff5912;
}
.light-orange-bg{
    background-color: #ff9060;
}
.offer{
    font-size: 18px;
    color: #3c4751;
    font-family:'Harmonia_semibold';
    margin-bottom: 15px;
}
.bottom-offer{
    font-size: 16px;
    color: #495662;
    margin-bottom: 60px;
}
/*DEFAULT CLASSES END*/

/*DEFAULT COMPONENTS START*/
.header .bottom-header{
    padding: 40px 0;
}
.header .bottom-header .user-controls{
    margin-left: auto;
}
.product-item{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    padding: 30px 10px;
    position: relative;
    height: 372px;
    margin-bottom: 73px;
}
.product-item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-description{
    padding: 0 37px;
    margin-top: 30px;
}
.product-item .item-title{
    margin-bottom: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-item:hover .item-img{

    max-height: 100%;
}
.product-item:hover .item-price{
    display: none;
}
.product-item:hover .item-title{
    color:#ff5912;
}
.product-item:hover .item-img{
    height: 90px ;
}
.product-item .item-img{
    transition: all .3s linear;
    height: 216px;
}
.product-item .more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    transition: all .3s linear;
    z-index: -1;
}
.product-item:hover .more-info-on-hover{
    opacity: 1;
    z-index: 99;
}
.product-item .colors{
    border-bottom: 1px solid #f2f4f7;
    padding-bottom: 30px;
}
.product-item  li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
/*DEFAULT COMPONENTS END*/
.top-header{
    border-bottom: 1px solid #edeff1;
    padding-bottom: 31px;
}
.user-controls{
    position: relative;
}
.user-controls .purchase{
    position: absolute;
    top: -12px;
    right: 8px;
    color: white;
}
.user-controls .circle{
    background-color: #34404b;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 2px;
}
.user-controls a + a{
    margin-left: 22px;
}
.order-now span{
    margin-right: 22px;
    font-family: 'Harmonia_semibold';
    color: #34404b;
    font-size: 18px;
}
.order-now a{
    font-size: 18px;
    color: #ff5912;
    font-family: 'Harmonia_semibold';
    text-decoration: none;
}
.order-now i{
    margin-right: 7px;
}
.flex-container .mail{
    padding-top: 19px;
    margin-right: 15px;
}
.flex-container .phone{
    padding-top: 19px;
}
.flex-container .mail a{
    margin-right: 6px;
    vertical-align: middle;
}
.flex-container .phone a{
    margin-right: 6px;
    vertical-align: middle;
}
.flex-container .mail span{
    font-size: 12px;
    color: #34404b;
}
.flex-container .phone span{
    font-size: 12px;
    color: #34404b;
}
.flex-container.mail{
    margin-left: 20px;
}
.social-link{
    margin-left: auto;
    padding-top: 19px;
}
.social-link i{
    color: #34404b;
    font-size: 16px;
}
.social-link a + a{
    margin-left: 12px;
}
.header-nav{
    margin-left: 81px;
}
.header-nav a{
    font-size: 16px;
    color: #34404b;
}
.header-nav a + a{
    margin-left: 40px;
}
.header-nav a:hover{
    color: #ff8551;
    text-decoration: none;
}
.sale-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
.sale-carousel .carousel-indicators{
    width: auto;
    bottom: auto;
    left: 0;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}
.sale-carousel .carousel-indicators li{
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 10px;
    height: 16px;
    transition: all .3s linear;
}
.sale-carousel .carousel-indicators li + li{
    margin-top: 10px;
}
.sale-carousel .carousel-indicators li.active{
    height: 36px;
    background-color: #ff5912;
}
#sale-carousel{
    padding-left: 8%;
}
.title{
    font-family: "Harmonia_black";
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.default-section{
    padding-top: 60px;
}
.default-section.new-arrivals p{
    font-size: 16px;
    text-align: center;
    color: #495662;
    margin-bottom: 72px;
}
.kit{
    padding: 20px 60px;
    border: 1px solid #eaedef;
}
.sales-block{
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block .orange-bg{
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 0;
}
.sales-block .light-orange-bg{
    transform: rotate(-45deg);
}
.load-more{
    padding: 25px 0;
    display: block;
}
.load-more .circle-two{
    display: inline-block;
    background-color: #ff5912;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    text-decoration: none;
}
.full-kit{
    border-right: 1px solid #f5f5f6;
    padding-right: 31px;
}
.full-kit p{
    font-family: 'Harmonia_black', sans-serif;
    font-size: 22px;
    color: #34404b;
    margin-bottom: 18px;
}
.full-kit span{
    font-size: 12px;
    color: #495662;
}
.price-class{
    display: inline-block;
}
.price-class span{
    color: #ff5912;
    font-family: Harmonia_black, sans-serif;
    font-size: 25px;
}
.price-class span {
    margin-left: 14px;
}
.area-adv p{
    font-size: 16px;
    color: #34404b;
    margin-bottom: 24px;
}
.area-adv .area-numeral{
    color: rgba(245, 245, 245, 0.6);
    letter-spacing: .6em;
}
